﻿
<a class="back" href="#/moviesearch">Back</a>

<div class="movie-view">
    <h2 class="title">{{ title.TitleName }}</h2>
    <span id="year" class="year">({{ title.ReleaseYear }})</span><br /><br />

    <strong>Director:</strong><span ng-repeat="director in title.Director">
        {{director}}{{$last ? '' : ', '}}
    </span><br />
    
    <strong>Genre(s):</strong><span ng-repeat="genre in title.Genres">
        {{genre}}{{$last ? '' : ', '}}
    </span>
    <p id="description" class="description">{{ title.StoryLineDescription }}</p>
    <h4>Cast</h4>
    <span ng-repeat="actor in title.Actors track by $index">
        {{actor}}{{$last ? '' : ', '}}
    </span>

    
</div>
