﻿<div class="search well well-lg">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" ng-model="search.TitleName" class="form-control input-lg" placeholder="Search By Movie Title" />
        </div>
    </div>
</div>
    
<div class="movie" ng-repeat="title in titles | filter:search track by $index">
    <a ng-href="#/moviesearch/{{title.TitleId}}">
        <span id="spnTitle" class="title">{{ title.TitleName }}</span><span id="spnYear" class="year">({{ title.ReleaseYear }})</span><span class="date">More...</span>
    </a>
</div>


