﻿body, html {
    background: rgb(128, 128, 128);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.header {
    background: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.header img {
    text-align: center;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.search {
    margin: 20px 0;
    background: rgb(68, 68, 68);
}
.search

.main {
    margin: 40px 0;
}

.movie {
    background: #fff;
    box-shadow: 0 2px 5px black;
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px 0;
}

.movie:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}

.movie span {
    color: #000;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

a.back {
    background: #0393ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #fff;
    display: block;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 14px 0;
    text-align: center;
    width: 200px;
}

a.back:hover {
    background: #5ebaff;
    text-decoration: none;
}

.title {
    font-size: 16px;
    font-weight: 700;
    padding-left: 2%;
    
}
#spnTitle {
    width: 20%;
}

.year {
    width: 60%;
}
#spnYear {
    margin-left: 20px;
}

.date {
    font-size: 14px;
    padding-right: 2%;
    text-align: right;
    text-overflow: ellipsis;
    width: 15%;
}

.movie-view {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
}

.movie-view h2 {
    font-size: 40px;
    padding: 0;
    margin: 0 0 10px;
}

.movie-view .from {
    display: inline-block;
    padding: 0;
    width: 50%;
}

.movie-view .date {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 50%;
}

.movie-view p {
    font-size: 14px;
    margin: 30px 0 0;
}

.footer {
  background:#000;
  padding:60px 0; 
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;  
}

.footer ul {
  color:#0393ff; 
  list-style:none;
  padding-left:0px;  
}

#year {
    font-size: 24px;
}
#description {
    font-size: 16px;
    margin-bottom: 40px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}